---
import Layout from "../layouts/Layout.astro";
import Badge from "@/components/Badge.astro";
import SectionContainer from "@/components/SectionContainer.astro";
---

<Layout title="Design System portfolio" description="El catálogo de componentes de mi portafolio.">
    <SectionContainer>
        <h1>&lt;Badge&gt;</h1>
        <Badge>Tailwind</Badge>
    </SectionContainer>
</Layout>