---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import OutlookIcon from "../components/icons/Outlook.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import GitLabIcon from "../components/icons/GitLab.astro";
import BriefCaseIcon from "../components/icons/BriefCaseIcon.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import RocketIcon from "../components/icons/rocketIcon.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import CvIcon from "../components/CvIcon.astro";
import TimeLine from "../components/TimeLine.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Projects from "../components/Projects.astro";
---

<Layout
  title="Portafolio | Eli Haziel Ortiz (Yayo22124)."
  description="Portafolio de Eli Haziel Ortiz (Yayo22124). Estudiante de T.S.U y Desarrollador Web con 2 años de experiencia en proyectos didácticos."
>
  <main>
    <SectionContainer id="home">
      <div class="pb-5 flex flex-col">
        <div
          class="flex gap-3 lg:flex-row sm:flex-col-reverse flex-col-reverse md:flex-col-reverse mb-5 lg:mb-0 justify-center items-center md:justify-normal sm:justify-normal lg:items-center"
        >
          <h1
            class="lg:text-4xl md:text-3xl sm:text-2xl text-xl font-bold lg:text-balance text-wrap md:text-wrap sm:text-wrap lg:w-2/4 w-full"
          >
            Hey, soy <span class="text-sky-400/90 "
              >Eli Haziel Ortiz Ramirez</span
            >
          </h1>
          <img
            src="https://avatars.githubusercontent.com/Yayo22124"
            alt="Yayo22124 Photo"
            class="rounded-full lg:size-1/6 md:size-1/4 size-1/3"
          />
        </div>
        <div
          class="flex items-center justify-center md:justify-normal lg:justify-normal sm:justify-normal"
        >
          <a href="https://www.linkedin.com/in/haziel-ortiz/" target="_blank"
            ><Badge class="bg-green-500 text-white">Disponible para trabajar</Badge></a
          >
          <Badge >Estudiante</Badge>
          <!-- <Badge class="bg-red-500 text-white">Con novia</Badge> -->
        </div>
      </div>
      <h2 class="dark:text-blue-100/90 text-gray-800 text-md text-pretty">
        Estudiante de T.S.U. en <span class="dark:text-sky-300/90 text-sky-500 font-semibold"
          >Desarrollo de Software Multiplataforma</span
        >. 2 años de experiencia en proyectos didácticos y escolares. <span
          class="text-custom">Desarrollador Web especializado en FrontEnd</span
        >. Desde <span>México, Puebla.</span>
      </h2>

      <!-- Contact Badges -->
      <ul
        class="flex w-full flex-wrap items-center justify-center gap-5 mt-3 [&>li]:bg-gray-800/05 [&>li]:shadow-neutral-400  [&>li]:shadow dark:[&>li]:shadow-none dark:[&>li]:bg-sky-300/10 [&>li]:py-1.5 [&>li]:backdrop-blur-xl dark:[&>li]:backdrop-blur-[1.5px] [&>li]:px-2 text-sm [&>li]:rounded-xl"
      >
        <!-- LinkedIn -->
        <li
          class="hover:scale-110 transition hover:bg-white/10 active:scale-95 flex items-center justify-center"
        >
          <a
            href="https://www.linkedin.com/in/haziel-ortiz"
            class="flex gap-2 items-center justify-center"
          >
            <LinkedInIcon class="size-6" />
            <span>LinkedIn</span>
          </a>
        </li>
        <!-- GitHub -->
        <li
          class="hover:scale-110 transition hover:bg-white/10 active:scale-95 flex items-center justify-center"
        >
          <a
            href="https://github.com/Yayo22124"
            class="flex gap-2 items-center justify-center"
          >
            <GitHubIcon class="size-6" />
            <span>GitHub</span>
          </a>
        </li>
        <!-- GitLab -->
        <li
          class="hover:scale-110 transition hover:bg-white/10 active:scale-95 flex items-center justify-center"
        >
          <a
            href="https://gitlab.com/Yayo22124"
            class="flex gap-2 items-center justify-center"
          >
            <GitLabIcon class="size-6" />
            <span>GitLab</span>
          </a>
        </li>
        <!-- Outlook -->
        <li
          class="hover:scale-110 transition hover:bg-white/10 active:scale-95 flex items-center justify-center"
        >
          <a
            href="mailto:ya-yo22124@outlook.com"
            class="flex gap-2 items-center justify-center"
          >
            <OutlookIcon class="size-6" />
            <span>ya-yo22124@outlook.com</span>
          </a>
        </li>
        <!-- CV -->
        <li
          class=" transition-background inline-flex  items-center justify-center rounded-md border bg-gradient-to-r from-slate-100 via-[#c7d2fe] to-[#8678f9] bg-[length:200%_200%] bg-[0%_0%]  font-medium text-black duration-500 hover:bg-[100%_200%] focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50"
        >
          <a
            href="docs/Eli-Haziel-Ortiz-Ramirez-CV.pdf"
            download="Eli-Haziel-Ortiz-Ramirez-CV.pdf"
            class="flex gap-2 items-center justify-center"
          >
            <CvIcon class="size-6" />
            <span>Descargar CV</span>
          </a>
        </li>
      </ul>
    </SectionContainer>
    <!--! TimeLine Section -->
    <SectionContainer id="experience">
      <h2 class="flex items-center gap-x-2 text-3xl font-semibold mb-6">
        <BriefCaseIcon /> Mi Experiencia
      </h2>
      <TimeLine />
    </SectionContainer>

    <!-- ! Projects Section -->
    <SectionContainer id="projects">
      <h2 class="flex items-center gap-x-2 text-3xl font-semibold mb-6">
        <CodeIcon /> Proyectos
      </h2>
      <Projects />
    </SectionContainer>
    
    <!-- ! About -->
    <SectionContainer id="about" class="[&>p]:text-pretty flex flex-col-reverse">
      <h2 class="flex items-center gap-x-2 text-3xl font-semibold mb-6">
        <RocketIcon /> Sobre mi
      </h2>
      <div class="w-full flex flex-col-reverse items-center justify-center gap-4">
        <div class="w-full">
          <p>Tengo 19 años y actualmente soy estudiante en la Universidad Tecnológica de Xicotepec de Juárez. Desde hace dos años tengo una gran pasión por desarrollar y crear software principalmente para la web. <br><br> Comencé a estudiar de forma autodidacta durante la pandemia de 2022, luego de que mi hermano me enseñará a encender un diodo LED de una placa de desarrollo usando C++, desde ese momento empecé a estudiar cursos gratuitos y ver vídeos en internet, a pesar de que mi inicio no fue directamente en web, luego de estudiar ciberseguridad e instalar Kali Linux, conocí HTML, CSS y JavaScript, con estos inicios, supe que me emocionaba ser desarollador web.</p>
          <br>
          <p>Luego de 2 años estudiando temas sobre el área, no dejo de emocionarme con cada tecnología que pruebo, actualmetne estoy más familiarizado con el frontend con tecnologías como <strong>Angular</strong>, <strong>React</strong> y <strong>Astro</strong>. Sin embargo también me ha interesado y he usado algo de backend con <strong>Express</strong>, <strong>Nest.js</strong> y bases de datos <strong>MySQL</strong> o <strong>MongoDB</strong>.</p>
        </div>
        <div class="w-1/3">
          <img class="rounded-full w-full" src="https://avatars.githubusercontent.com/Yayo22124" alt="Yayo22124 Avatar">
        </div>
      </div>

    </SectionContainer>
  </main>
</Layout>

<style>
  .text-custom {
    text-decoration: underline wavy skyblue;
  }
</style>
