---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="w-full mx-auto lg:w-[740px] py-44 animate-fade-right animate-once animate-duration-500 animate-delay-200 animate-ease-in">
      <div class="pb-5 flex flex-col">
		<div class="flex gap-x-3">
			<h1 class="text-4xl font-bold text-pretty w-2/4">
			  Hey, soy <span class="text-sky-400/90">Eli Haziel Ortiz Ramirez</span>
			</h1>
			<img
			src="https://avatars.githubusercontent.com/Yayo22124"
			alt="Yayo22124 Photo"
			class="rounded-full w-1/6 h-1/6"
		  />		
		</div>
		<div>
			<a href="https://www.linkedin.com/in/haziel-ortiz/" target="_blank"
			  ><Badge>Disponible para trabajar</Badge></a
			>
			<Badge>Con novia</Badge>
		</div>
      </div>
      <h2 class="text-blue-100/90">
        Estudiante de T.S.U. en <span class="text-sky-300/80 font-semibold">Desarrollo de Software Multiplataforma</span>. 2 años de experiencia en proyectos didácticos y escolares. <span class="text-custom">Desarrollador Web especializado en FrontEnd</span>. Desde <span>México, Puebla.</span>
      </h2>
    </section>
  </main>
</Layout>

<style>
	.text-custom {
		text-decoration: underline wavy skyblue;
	}
</style>