---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="w-full mx-auto lg:w-[740px] py-44">
      <div class="pb-5 flex flex-col gap-y-1">
        <h1 class="text-4xl font-bold text-pretty">
          Hey, soy Eli Haziel Ortiz Ramirez
        </h1>
		<div>
			<a href="https://www.linkedin.com/in/haziel-ortiz/" target="_blank"
			  ><Badge>Disponible para trabajar</Badge></a
			>
			<Badge>Con novia</Badge>
		</div>
      </div>
      <h2>
        2 años de experiencia creando projectos didácticos. Desarrollador Web.
        De México, Puebla. Especializado en desarrollo web, principalmente
        FrontEnd
      </h2>
    </section>
  </main>
</Layout>
