---
import TimeLineItem from "./TimeLineItem.astro";
import type iTimeLineItem from "../core/interfaces/TimeLineItem.interface.ts"

    const EXPERIENCE: iTimeLineItem[] = [
        {
            date: 'Septiembre 2023 - Diciembre 2023',
            title: 'Agéndalo, Proyecto Universitario',
            description: "Gracias a la invitación por parte de un profesor a la participación en el desarrollo de un nuevo proyecto planeado para estadía universitaria. Pude desarrollar en equipo la iniciación del proyecto Agéndalo, poniendo en práctica mis conocimientos en Angular, TailwindCSS, Node.js y Express para crear toda una aplicación siguiendo la arquitectura API REST y conectando las vistas hechas en Angular con su librería Angular HTTPClient para consumir la API.",
        },
        {
            date: 'Septiembre 2023 - Diciembre 2023',
            title: 'Curso de Angular 15 y Git',
            description: "Gracias a la disposición y oportunidad de recibir una serie de clases/sesiones en línea impartidas por un egresado y actual profesional con experiencia en Angular. Logré incrementar mis conocimientos en el trabajo con Git para proyectos en equipo y realizar aportaciones usando Forking Workflow, así como a realizar pequeños proyectos y tareas en Angular.",
        },
        {
            date: '10 - 28 Octubre 2023',
            title: 'Curso de Node.js e IoT',
            description: "Tuve la oportunidad de desarrollar proyectos que interconectaban el desarrollo de aplicaciones para servicios (API's) junto con el IoT, en un curso de 30 horas ofrecido para profesores de mi carrera.",
        },
        {
            date: 'Mayo 2023 - Septiembre 2023',
            title: 'Curso de Maquetado Frontend',
            description: "Recibí una serie de sesiones por parte de un egresado profesional, en las que mejoré mis conocimientos en HTML,CSS y JavaScript, con buenas prácticas y nuevas formas de maquetar interfaces frontend, junto a una introduccióna Git, deploy de los pequeños proyectos y usó de GitLab.",
        },
        {
            date: 'Mayo 2023 - Septiembre 2023',
            title: 'Sazón MaXíco, Proyecto Integrador',
            description: "Como parte de mi tercer cuatrimestre en mi carrera, se nos solicitó un proyecto que integrará las materias técnicas llevadas durante ese periodo. Sazón MaXíco, un negocio de comida en Xicotepec de Juárez, fue nuestro cliente de Software, del cual se recabaron datos como Requerimientos Funcionales, No Funcionales y Reglas de Negocio. Impacté fuertemente en el desarrollo y la eficiencia del mismo aplicando Git en mi equipo, así como desarrollando la aplicación en PHP, HTML, CSS y JavaScript.",
        },
        {
            date: 'Agosto 2022',
            title: 'Ingreso a la Universidad',
            description: 'Luego de medio año de estudiar desarrollo web básico por mi cuenta, entré a la universidad para estudiar Desarrollo de Software Multiplataforma.',
        },
        {
            date: 'Octubre 2021',
            title: 'Inicio Autodidacta',
            description: 'Comencé a estudiar desarrollo web, linux, y ciberseguridad a finales de 2020 con el objetivo de aprender de forma autodidacta y algunos cursos gratuitos.',
        },
    ]
---


<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
               <TimeLineItem {...experience}/> 
            </li>
        ))
    }           
    
</ol>

