---
import TimeLineItem from "./TimeLineItem.astro";
import type iTimeLineItem from "../core/interfaces/TimeLineItem.interface.ts"

    const EXPERIENCE: iTimeLineItem[] = [
        {
            date: 'Diciembre 2023 (Actualmente)',
            title: 'Primer Año Universitario',
            description: "El mayor crecimiento que he tenido como estudiante y desarrollador, ya que comencé con tecnologías más avanzadas como Angular, Astro, React, Android Studio y desarrollo de API's, de la mano de buenos profesores y con la ayuda de un egresado de mi carrera.",
        },
        {
            date: 'Agosto 2022',
            title: 'Ingreso a la Universidad',
            description: 'Con medio año de seguir aprendiendo desarrollo web, ingrese a la universidad con ya buena cantidad de conocimientos en Redes, Sistemas Operativos, Programación y Desarrollo Web.',
        },
        {
            date: 'Octubre 2021',
            title: 'Inicio Autodidacta',
            description: 'Comencé a estudiar desarrollo web, linux, y ciberseguridad a finales de 2020 con el objetivo de aprender de forma autodidacta.',
        },
    ]
---


<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
               <TimeLineItem {...experience}/> 
            </li>
        ))
    }           
    
</ol>

